
.home {
    margin: 0;
}

.home-image {
    width: 150px;
    height: auto;
    mix-blend-mode: multiply;
}

.home-links {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}